xml-schemas/CollectPoint.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CollectPoint" type="CollectPoint"/>
  
  <xs:complexType name="CollectPoint">
    <xs:sequence>
      <xs:element name="idCP" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="nameCP" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="adressCP" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="latitudeGPS" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="longitudeGPS" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="capacityCP" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="fillLevel" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="wasteType" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="priorityCP" type="xs:int" minOccurs="1" maxOccurs="1"/>
      <xs:element name="lastCollectDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
