xml-schemas/CollectAgent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common.xsd"/>
  
  <xs:element name="CollectAgent" type="CollectAgent"/>
  
  <xs:complexType name="CollectAgent">
    <xs:sequence>
      <xs:element name="idUser" type="xs:string"/>
      <xs:element name="emailU" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="nameU" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="pwdU" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="recruitmentDateEmp" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="salaryEmp" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="telEmp" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="disponibility" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
      <xs:element name="roleAgent" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
