xml-schemas/common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Base User Type -->
  <xs:complexType name="User" abstract="true">
    <xs:sequence>
      <xs:element name="idUser" type="xs:string"/>
      <xs:element name="emailU" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="nameU" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="pwdU" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Base Employee Type -->
  <xs:complexType name="Employe" abstract="true">
    <xs:complexContent>
      <xs:extension base="User">
        <xs:sequence>
          <xs:element name="recruitmentDateEmp" type="xs:date" minOccurs="1" maxOccurs="1"/>
          <xs:element name="salaryEmp" type="xs:double" minOccurs="1" maxOccurs="1"/>
          <xs:element name="telEmp" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
