xml-schemas/IncidentReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cit="Citizen.xsd">

  <xs:element name="IncidentReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IncidentReport" type="IncidentReportType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="IncidentReportIDKey">
      <xs:selector xpath="IncidentReport"/>
      <xs:field xpath="idIR"/>
    </xs:key>
  </xs:element>

  <xs:complexType name="IncidentReportType">
    <xs:sequence>
      <xs:element name="idIR" type="xs:string"/>
      <xs:element name="typeIR" type="xs:string"/>
      <xs:element name="descIR" type="xs:string"/>
      <xs:element name="adressIR" type="xs:string"/>
      <xs:element name="dateIR" type="xs:date"/>
      <xs:element name="stateIR" type="xs:string"/>
      <xs:element name="idcitizen" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="idCP" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:keyref name="CitizenFK" refer="cit:CitizenIDKey">
    <xs:selector xpath="IncidentReport/idcitizen"/>
    <xs:field xpath="."/>
  </xs:keyref>

</xs:schema>
