xml-schemas/IncidentReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IncidentReport" type="IncidentReport"/>
  
  <xs:complexType name="IncidentReport">
    <xs:sequence>
      <xs:element name="idIR" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="typeIR" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="descIR" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="adressIR" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dateIR" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="stateIR" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="idcitizen" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="idCP" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
