xml-schemas/Session.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Session" type="Session"/>
  
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element name="sessionId" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="userRole" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="createdAt" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
      <xs:element name="expiresAt" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
