xml-schemas/Vehicule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Vehicules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Vehicule" type="VehiculeType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="VehiculeIDKey">
      <xs:selector xpath="Vehicule"/>
      <xs:field xpath="immatV"/>
    </xs:key>
  </xs:element>

  <xs:complexType name="VehiculeType">
    <xs:sequence>
      <xs:element name="immatV" type="xs:string"/>
      <xs:element name="typeV" type="xs:string"/>
      <xs:element name="capacityV" type="xs:double"/>
      <xs:element name="stateV" type="xs:string"/>
      <xs:element name="fuelLevelV" type="xs:double"/>
      <xs:element name="typeFuelV" type="xs:string"/>
      <xs:element name="emissionCO2" type="xs:double"/>
      <xs:element name="dateLastMaintenance" type="xs:date" default=""/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
